name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Docker metadata
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: |
          ghcr.io/benschumacher/ecobee-exporter
        tags: |
          type=schedule
          type=ref,event=branch
          type=ref,event=pr
          type=semver,pattern=${{ steps.vars.outputs.version }}-{{version}},value=${{ steps.vars.outputs.sq3l_version }}
          type=sha,format=short,prefix=,suffix=
          type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
          
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build and Push
      uses: docker/build-push-action@v4
      with:
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

#    - name: Build the Docker image
#      run: docker build . --file Dockerfile --tag ghcr.io/benschumacher/ecobee-exporter:$()
